@import './color.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Khula;
    -webkit-font-smooth: always;

}
a{
    text-decoration: none;  
}
@mixin display_center(){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin display_as_column(){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@mixin display_as_column_center(){
    @include display_as_column;
    justify-content: center;
    align-items: center;
}

@mixin display_as_row(){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@mixin display_as_row_end {
    @include display_as_row;
    justify-content: flex-end;
    align-items: center;
}

@mixin display_as_row_center(){
    @include display_as_row;
    justify-content: center;
    align-items: center;
}
@mixin display_as_row_space_between(){
    @include display_as_row;
    justify-content: space-between;
    align-items: center;
}
// ::-webkit-scrollbar {
//     width: 10px;
// }
  
// /* Track */
// ::-webkit-scrollbar-track {
// box-shadow: inset 0 0 1px gray; 
// }
   
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: $black; 
//     border-radius: 10px;
//   }







