@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap");
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap");
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Khula;
  -webkit-font-smooth: always;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Khula;
  -webkit-font-smooth: always;
}

a {
  text-decoration: none;
}

body .header {
  width: 100%;
  background: #0F044C;
}
body .header .social__media__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body .header .social__media__container #smtext {
  color: white;
  font-style: normal;
  font-size: 15px;
}
body .header .social__media__container div {
  width: 42px;
  height: 42px;
  background: #070124;
  border-bottom: 22.5px solid #0F044C;
  border-left: 22.5px solid #0F044C;
  border-top: 22.5px solid #070124;
  border-right: 22.5px solid #070124;
}
body .header .social__media__container p, body .header .social__media__container a, body .header .social__media__container section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #070124;
  height: 43px;
  padding: 0px 10px;
  font-size: 20px;
}
body .header .social__media__container p .fa-mobile, body .header .social__media__container a .fa-mobile, body .header .social__media__container section .fa-mobile {
  color: white;
  font-weight: light;
}
body .header .social__media__container p .fa-facebook, body .header .social__media__container a .fa-facebook, body .header .social__media__container section .fa-facebook {
  color: blue;
}
body .header .social__media__container p .fa-twitter, body .header .social__media__container a .fa-twitter, body .header .social__media__container section .fa-twitter {
  color: #608dff;
}
body .header .social__media__container p .fa-youtube, body .header .social__media__container a .fa-youtube, body .header .social__media__container section .fa-youtube {
  color: red;
}
body .header .social__media__container p .fa-instagram, body .header .social__media__container a .fa-instagram, body .header .social__media__container section .fa-instagram {
  color: pink;
}
body .header .social__media__container p .fa-pinterest, body .header .social__media__container a .fa-pinterest, body .header .social__media__container section .fa-pinterest {
  color: #ff4b69;
}
body .header .social__media__container p .fa-envelope-square, body .header .social__media__container a .fa-envelope-square, body .header .social__media__container section .fa-envelope-square {
  color: #720505;
  background: white;
}
body .header .logo__message__payment {
  padding: 20px 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .header .logo__message__payment .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .header .logo__message__payment .logo img {
  width: 120px;
}
body .header .logo__message__payment .logo section {
  text-align: center;
}
body .header .logo__message__payment .logo section h1 {
  font-size: 50px;
  text-shadow: 3px 3px 3px black;
  font-family: Righteous;
}
body .header .logo__message__payment .logo section p {
  font-size: 20px;
}
body .header .logo__message__payment .message__payment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
body .header .logo__message__payment .message__payment a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 0;
  background: #ff2b14;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
body .header .logo__message__payment .message__payment a i {
  margin: 0px 10px;
}
body .header .dropdown__container {
  display: none !important;
  width: 100%;
  background: #070124;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body .header .dropdown__container button {
  padding: 0;
  background: none;
  border: 0;
}
body .header .dropdown__container button i {
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  color: white;
}
body .header .dropdown__container button:nth-child(2) {
  display: none;
}
body .header .navbar__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #070124;
  list-style: none;
}
body .header .navbar__container li {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  color: white;
}
body .header .navbar__container li:hover {
  background: #0F044C;
}
body .header .navbar__container li:hover ul {
  display: block;
}
body .header .navbar__container li a {
  color: white;
  text-decoration: none;
}
body .header .navbar__container li ul {
  display: none;
  position: absolute;
  z-index: 23;
  background: #0F044C;
  list-style: None;
  margin-top: 7px;
}
body .header .navbar__container li ul li {
  padding: 0.5rem 1.5rem;
}
body .header .navbar__container li ul li a:hover {
  color: #71EFA3;
}

body {
  width: 100%;
  color: white;
}
body .navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: #070124;
  list-style: none;
}
body .navbar li {
  padding: 0.5rem 1.5rem;
  color: white;
}
body .navbar li:hover {
  background: #0F044C;
}
body .navbar li:hover ul {
  display: block;
}
body .navbar li a {
  color: white;
  text-decoration: none;
}
body .navbar li ul {
  display: none;
  position: absolute;
  z-index: 23;
  background: #0F044C;
  list-style: None;
  margin-top: 7px;
}
body .navbar li ul li {
  padding: 0.5rem 1.5rem;
}
body .home__page .hero {
  position: relative;
  background: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .home__page .hero .school__img {
  flex: 1;
}
body .home__page .hero .school__img img {
  width: 600px;
  border: 12px solid white;
  margin: 40px;
  box-shadow: 1px 1px 5px black;
}
body .home__page .hero .welcome__para {
  padding: 1px 20px;
  color: black;
  flex: 1;
}
body .home__page .hero .welcome__para img {
  position: absolute;
  top: 30px;
  width: 25vw;
  left: 60vw;
  opacity: 0.1;
}
body .home__page .hero .welcome__para h1 {
  font-weight: medium;
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: Righteous;
}
body .home__page .hero .welcome__para p {
  text-align: justify;
}
body .home__page .annoucements__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #070124;
}
body .home__page .annoucements__container .annoucements__heading {
  font-size: 25px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ff2b14;
}
body .home__page .annoucements__container .annoucements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: None;
}
body .home__page .annoucements__container .annoucements li {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ff2b14;
  margin: 15px 25px;
  text-shadow: 3px 3px 5px black;
}
body .img_slide_show {
  background: #0F044C;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .img_slide_show img {
  height: 500px;
}
body .img_slide_show .next_prev_btn {
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .img_slide_show .next_prev_btn button {
  background: white;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 1rem;
  font-size: 34px;
  width: 60px;
  height: 75x;
  margin: 1rem;
  opacity: 0.9;
}
body .img_slide_show .next_prev_btn button:hover {
  background: #ebebeb;
  color: #070124;
}
body .img_slide_show .next_prev_btn button:nth-child(1) {
  border-radius: 20px 0px 0px 20px;
}
body .img_slide_show .next_prev_btn button:nth-child(2) {
  border-radius: 0px 20px 20px 0px;
}
body .about__us {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
body .about__us .chairman__desk {
  background: #ebebeb;
}
body .about__us .principal__desk {
  background: #070124;
  color: white;
}
body .about__us .chairman__desk, body .about__us .principal__desk {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
body .about__us .chairman__desk .quotes, body .about__us .principal__desk .quotes {
  text-align: justify;
  width: 600px;
}
body .about__us .chairman__desk .quotes #dq, body .about__us .principal__desk .quotes #dq {
  font-weight: bold;
  font-size: 25px;
}
body .about__us .chairman__desk .img__and__name, body .about__us .principal__desk .img__and__name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .about__us .chairman__desk .img__and__name img, body .about__us .principal__desk .img__and__name img {
  width: 500px;
  box-shadow: 1px 1px 10px 2px black;
  border: 10px solid #ff2b14;
  margin: 20px 60px;
}
body .about__us .chairman__desk .img__and__name .name, body .about__us .principal__desk .img__and__name .name {
  text-align: right;
}
body .about__us .chairman__desk .img__and__name .name p, body .about__us .principal__desk .img__and__name .name p {
  font-weight: light;
  font-size: 25px;
  font-family: Righteous;
}
body .about__us .history {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
body #messageForm {
  border-bottom: 5px solid #0F044C;
  background: #070124;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
body #messageForm h1 {
  text-decoration: underline;
}
body #messageForm div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body #messageForm div label {
  margin: 3px;
}
body #messageForm div input, body #messageForm div textarea {
  outline: 0;
  border: 0;
  background: #0F044C;
  color: white;
  width: 300px;
  padding: 5px;
}
body #messageForm div input:hover, body #messageForm div input:active, body #messageForm div textarea:hover, body #messageForm div textarea:active {
  box-shadow: 2px 2px 10px 2px #000414;
  border-radius: 0;
  outline: 1px solid white;
  overflow: hidden;
}
body #messageForm div input {
  height: 30px;
}
body #messageForm div textarea {
  height: 300px;
}
body #messageForm button {
  padding: 10px 20px;
  background: #ff2b14;
  color: white;
  border: 0;
  margin: 30px;
}
body .contact__us {
  background: #070124;
  padding: 2rem;
}
body .contact__us h1 {
  text-align: center;
}
body .contact__us .contact__numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .contact__us .contact__numbers section {
  width: 250px;
  height: 150px;
  background: #0F044C;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .contact__us .contact__numbers section p {
  font-size: 20px;
}
body .contact__us .contact__numbers section p:nth-child(1) {
  color: #ff2b14;
  font-weight: bold;
}
body .contact__us .contact__numbers section span {
  font-size: 13px;
  font-style: italic;
}
body .gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
body .gallery a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #070124;
  color: white;
}
body .footer {
  width: 100%;
  padding: 10px 10px;
  background: #070124;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Khula;
  -webkit-font-smooth: always;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1050px) {
  body .header .social__media__container {
    width: 100%;
    background: #070124;
  }
  body .header .social__media__container div {
    display: none;
  }
  body .navbar__container {
    width: 100%;
    background: #070124;
  }
  body .navbar__container li {
    padding: 0.5rem 1rem !important;
  }
  body .hero {
    padding: 2rem 10px !important;
  }
  body .hero .school__img img {
    width: 500px !important;
    margin: 0 !important;
  }
  body .about__us .quotes {
    width: 100% !important;
  }
}
@media only screen and (max-width: 950px) {
  body .home__page .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .home__page .hero .welcome__para {
    text-align: center;
  }

  .contact__us {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
  .contact__us #messageForm {
    padding: 0 !important;
    width: 100% !important;
  }
  .contact__us .contact__numbers {
    width: 100% !important;
    padding: 2rem 0 !important;
  }
}
@media only screen and (max-width: 820px) {
  body .header .dropdown__container {
    display: flex !important;
  }
  body .header .navbar__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  body .header .navbar__container li {
    width: 100%;
    padding-left: 30px !important;
  }
  body .header .navbar__container li ul {
    margin-left: 70px;
  }
  body .img_slide_show img {
    width: 100%;
    height: auto;
    max-height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
