@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap");
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Merienda:wght@400;700&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Khula;
  -webkit-font-smooth: always;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Khula;
  -webkit-font-smooth: always;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background: #0F044C;
}
.header .social__media__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header .social__media__container #smtext {
  color: white;
  font-style: normal;
  font-size: 15px;
}
.header .social__media__container div {
  width: 42px;
  height: 42px;
  background: #070124;
  border-bottom: 22.5px solid #0F044C;
  border-left: 22.5px solid #0F044C;
  border-top: 22.5px solid #070124;
  border-right: 22.5px solid #070124;
}
.header .social__media__container p, .header .social__media__container a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #070124;
  height: 43px;
  padding: 0px 10px;
  font-size: 20px;
}
.header .social__media__container p .fa-mobile, .header .social__media__container a .fa-mobile {
  color: white;
  font-weight: light;
}
.header .social__media__container p .fa-facebook, .header .social__media__container a .fa-facebook {
  color: blue;
}
.header .social__media__container p .fa-twitter, .header .social__media__container a .fa-twitter {
  color: #608dff;
}
.header .social__media__container p .fa-youtube, .header .social__media__container a .fa-youtube {
  color: red;
}
.header .social__media__container p .fa-instagram, .header .social__media__container a .fa-instagram {
  color: pink;
}
.header .social__media__container p .fa-pinterest, .header .social__media__container a .fa-pinterest {
  color: #ff4b69;
}
.header .social__media__container p .fa-envelope-square, .header .social__media__container a .fa-envelope-square {
  color: #720505;
  background: white;
}
.header .logo__message__payment {
  padding: 20px 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .logo__message__payment .logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .logo__message__payment .logo img {
  width: 120px;
}
.header .logo__message__payment .logo section {
  text-align: center;
}
.header .logo__message__payment .logo section h1 {
  font-size: 50px;
  text-shadow: 3px 3px 3px black;
  font-family: Righteous;
}
.header .logo__message__payment .logo section p {
  font-size: 20px;
}
.header .logo__message__payment .message__payment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.header .logo__message__payment .message__payment button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0;
  border: 0;
  background: #ff2b14;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
.header .logo__message__payment .message__payment button i {
  margin: 0px 10px;
}
.header .navbar__container {
  position: sticky;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header .navbar__container div {
  width: 43px;
  height: 43px;
  background: #070124;
  border-top: 22.5px solid #0F044C;
  border-left: 22.5px solid #0F044C;
  border-bottom: 22.5px solid #070124;
  border-right: 22.5px solid #070124;
}
.header .navbar__container a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 120px;
  color: white;
  background: #070124;
  padding: 10px 20px;
  font-size: 15px;
}
.header .navbar__container a:hover {
  background: #0F044C;
  color: #71EFA3;
  text-shadow: 3px 3px 5px black;
}

body {
  width: 100%;
  color: white;
}
body .home__page .hero {
  position: relative;
  background: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .home__page .hero .school__img {
  flex: 1;
}
body .home__page .hero .school__img img {
  width: 600px;
  border: 12px solid white;
  margin: 40px;
  box-shadow: 1px 1px 5px black;
}
body .home__page .hero .welcome__para {
  padding: 1px 20px;
  color: black;
  flex: 1;
}
body .home__page .hero .welcome__para img {
  position: absolute;
  top: 30px;
  width: 25vw;
  left: 60vw;
  opacity: 0.1;
}
body .home__page .hero .welcome__para h1 {
  font-weight: medium;
  font-size: 35px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: Righteous;
}
body .home__page .hero .welcome__para p {
  text-align: justify;
}
body .home__page .annoucements__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #070124;
}
body .home__page .annoucements__container .annoucements__heading {
  font-size: 25px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ff2b14;
}
body .home__page .annoucements__container .annoucements {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: None;
}
body .home__page .annoucements__container .annoucements li {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
@keyframes animate {
  0% {
    color: green;
    font-style: italic;
  }
  25% {
    color: #d7e300;
    font-style: bold;
  }
  50% {
    color: #ff00d4;
    font-style: italic;
  }
  75% {
    color: white;
    font-style: bold;
  }
  100% {
    color: red;
    font-style: normal;
  }
}
body .about__us {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
body .about__us .chairman__desk {
  background: #ebebeb;
}
body .about__us .principal__desk {
  background: #070124;
  color: white;
}
body .about__us .chairman__desk, body .about__us .principal__desk {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
body .about__us .chairman__desk .quotes, body .about__us .principal__desk .quotes {
  text-align: justify;
  width: 600px;
}
body .about__us .chairman__desk .quotes #dq, body .about__us .principal__desk .quotes #dq {
  font-weight: bold;
  font-size: 50px;
}
body .about__us .chairman__desk .img__and__name, body .about__us .principal__desk .img__and__name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .about__us .chairman__desk .img__and__name img, body .about__us .principal__desk .img__and__name img {
  width: 500px;
  box-shadow: 1px 1px 10px 2px black;
  border: 10px solid #ff2b14;
  margin: 20px 60px;
}
body .about__us .chairman__desk .img__and__name .name, body .about__us .principal__desk .img__and__name .name {
  text-align: right;
}
body .about__us .chairman__desk .img__and__name .name p, body .about__us .principal__desk .img__and__name .name p {
  font-weight: light;
  font-size: 25px;
  font-family: Righteous;
}
body .about__us .history {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
body .contact__us {
  background: #070124;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body .contact__us #messageForm {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
body .contact__us #messageForm div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body .contact__us #messageForm div label {
  margin: 3px;
}
body .contact__us #messageForm div input, body .contact__us #messageForm div textarea {
  outline: 0;
  border: 0;
  background: #0F044C;
  color: white;
  width: 300px;
  padding: 5px;
}
body .contact__us #messageForm div input:hover, body .contact__us #messageForm div input:active, body .contact__us #messageForm div textarea:hover, body .contact__us #messageForm div textarea:active {
  box-shadow: 2px 2px 10px 2px #000414;
  border-radius: 0;
  outline: 1px solid white;
  overflow: hidden;
}
body .contact__us #messageForm div input {
  height: 30px;
}
body .contact__us #messageForm div textarea {
  height: 300px;
}
body .contact__us #messageForm button {
  padding: 10px 20px;
  background: #ff2b14;
  color: white;
  border: 0;
  margin: 30px;
}
body .contact__us .contact__numbers {
  width: 70%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .contact__us .contact__numbers section {
  box-shadow: 2px 2px 10px 2px #000414;
  width: 250px;
  height: 150px;
  background: #0F044C;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .contact__us .contact__numbers section p {
  font-size: 20px;
}
body .contact__us .contact__numbers section p:nth-child(1) {
  color: #ff2b14;
  font-weight: bold;
}
body .contact__us .contact__numbers section span {
  font-size: 13px;
  font-style: italic;
}
body .gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
body .gallery a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: #070124;
  color: white;
}
body .footer {
  width: 100%;
  padding: 10px 10px;
  background: #070124;
  color: white;
}

/*# sourceMappingURL=style.css.map */
